<script type="text/javascript">
var global = global || {};
global.apiKey= '<%= @key %>';
</script>

<h1>Hi</h1>

<table class="periodic">
  <tbody>
    <tr>
      <td id="1"  class='alkaliMetals'></td>
      <td id=""></td>
      <td colspan="10" rowspan="3"></td>
      <td colspan="5"></td>
      <td id="2" class='nobleGases'></td>
    </tr>
    <tr>
      <td id="3"  class='alkaliMetals'></td>
      <td id="4" class='alkaliEarth'></td>
      <td id="5" class='metalloids'></td>
      <td id="6"></td>
      <td id="7"></td>
      <td id="8"></td>
      <td id="9" class='halogens'></td>
      <td id="10" class='nobleGases'></td>
    </tr>
    <tr>
      <td id="11" class='alkaliMetals'></td>
      <td id="12" class='alkaliEarth'></td>
      <td id="13"></td>
      <td id="14" class='metalloids'></td>
      <td id="15"></td>
      <td id="16"></td>
      <td id="17" class='halogens'></td>
      <td id="18" class='nobleGases'></td>
    </tr>
    <tr>
      <td id="19" class='alkaliMetals'></td>
      <td id="20" class='alkaliEarth'></td>
      <td id="21" class='transitionMetals'></td>
      <td id="22" class='transitionMetals'></td>
      <td id="23" class='transitionMetals'></td>
      <td id="24" class='transitionMetals'></td>
      <td id="25" class='transitionMetals'></td>
      <td id="26" class='transitionMetals'></td>
      <td id="27" class='transitionMetals'></td>
      <td id="28" class='transitionMetals'></td>
      <td id="29" class='transitionMetals'></td>
      <td id="30" class='transitionMetals'></td>
      <td id="31"></td>
      <td id="32" class='metalloids'></td>
      <td id="33" class='metalloids'></td>
      <td id="34"></td>
      <td id="35" class='halogens'></td>
      <td id="36" class='nobleGases'></td>
    </tr>
    <tr>
      <td id="37" class='alkaliMetals'></td>
      <td id="38" class='alkaliEarth'></td>
      <td id="39" class='transitionMetals'></td>
      <td id="40" class='transitionMetals'></td>
      <td id="41" class='transitionMetals'></td>
      <td id="42" class='transitionMetals'></td>
      <td id="43" class='transitionMetals'></td>
      <td id="44" class='transitionMetals'></td>
      <td id="45" class='transitionMetals'></td>
      <td id="46" class='transitionMetals'></td>
      <td id="47" class='transitionMetals'></td>
      <td id="48" class='transitionMetals'></td>
      <td id="49"></td>
      <td id="50"></td>
      <td id="51" class='metalloids'></td>
      <td id="52" class='metalloids'></td>
      <td id="53" class='halogens'></td>
      <td id="54" class='nobleGases'></td>
    </tr>
    <tr>
      <td id="55" class='alkaliMetals'></td>
      <td id="56" class='alkaliEarth'></td>
      <td id="f-block">57-61</td>
      <td id="72" class='transitionMetals'></td>
      <td id="73" class='transitionMetals'></td>
      <td id="74" class='transitionMetals'></td>
      <td id="75" class='transitionMetals'></td>
      <td id="76" class='transitionMetals'></td>
      <td id="77" class='transitionMetals'></td>
      <td id="78" class='transitionMetals'></td>
      <td id="79" class='transitionMetals'></td>
      <td id="80" class='transitionMetals'></td>
      <td id="81"></td>
      <td id="82"></td>
      <td id="83"></td>
      <td id="84" class='metalloids'></td>
      <td id="85" class='halogens'></td>
      <td id="86" class='nobleGases'></td>
    </tr>
    <tr>
      <td id="87" class='alkaliMetals'></td>
      <td id="88" class='alkaliEarth'></td>
      <td id="f-block">89-103</td>
      <td id="104" class='transitionMetals'></td>
      <td id="105" class='transitionMetals'></td>
      <td id="106" class='transitionMetals'></td>
      <td id="107" class='transitionMetals'></td>
      <td id="108" class='transitionMetals'></td>
      <td id="109" class='transitionMetals'></td>
      <td id="110" class='transitionMetals'></td>
      <td id="111" class='transitionMetals'></td>
      <td id="112" class='transitionMetals'></td>
      <td id="113"></td>
      <td id="114"></td>
      <td id="115"></td>
      <td id="116"></td>
      <td id="117" class='halogens'></td>
      <td id="118" class='nobleGases'></td>
    </tr>
  </tbody>
</table>

<table class='f-block'>
  <tbody>
    <tr>
      <td id="57"></td>
      <td id="58"></td>
      <td id="59"></td>
      <td id="60"></td>
      <td id="61"></td>
      <td id="62"></td>
      <td id="63"></td>
      <td id="64"></td>
      <td id="65"></td>
      <td id="66"></td>
      <td id="67"></td>
      <td id="68"></td>
      <td id="69"></td>
      <td id="70"></td>
      <td id="71"></td>
    </tr>
    <tr>
      <td id="89"></td>
      <td id="90"></td>
      <td id="91"></td>
      <td id="92"></td>
      <td id="93"></td>
      <td id="94"></td>
      <td id="95"></td>
      <td id="96"></td>
      <td id="97"></td>
      <td id="98"></td>
      <td id="99"></td>
      <td id="100"></td>
      <td id="101"></td>
      <td id="102"></td>
      <td id="103"></td>
    </tr>
  </tbody>
</table>
