// Place all the styles related to the periodic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  width: 100%;

}

.periodic {
  width: 85%;
  table-layout: fixed;
  overflow: hidden;
  margin: 0 auto;
}

h1 {
  font-family: 'Rock Salt', cursive;
  margin: 0 auto;
  margin-left: 25%;
}
tbody {
  height: 200px;
  table-layout: fixed;
}

.f-block {
  width: 75%;
  table-layout: fixed;
  overflow: hidden;
  margin-top: 2%;
  margin-left: 17%;
}

td {
  padding: 0.5rem;
  overflow: scroll;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

li {
  vertical-align: middle;
  text-align: center;
  padding: 0.1em;
}

.symbol {
  font-weight: bolder;
}

.element {
  font-size: 0.7em;
}

.atomicmass {
  font-size: 0.5em;
  font-weight: bold;
}

.alkaliMetals {
  background-color: rgba(170, 154, 213, 0.71);
}

.alkaliMetals:hover {
  background-color: white;
}

.alkaliEarth {
  background-color: rgba(205, 29, 29, 0.65);
}

.transitionMetals {
  background-color: rgba(233, 125, 56, 0.53);
}

.postTranMetals {
  background-color: rgba(22, 198, 39, 0.57);
}

.halogens {
  background-color: rgba(242, 240, 57, 0.64);
}

.nobleGases {
  background-color: rgba(157, 212, 236, 0.68);
}

.metalloids {
  background-color: rgba(123, 132, 134, 0.29);
}

.otherNonmetals {
  background-color: rgba(121, 232, 212, 0.57);
}

.Lanthanoids {
  background-color: rgba(233, 166, 227, 0.53);
}

.Actinoids {
  background-color: rgba(146, 164, 126, 0.42);
}

.columns {
  border-right: 1px solid black;
  box-shadow: none;
  margin: 0 auto;
  padding: 4px;
  margin-right: 0;
  vertical-align: center;
  text-align: center;
}

.labelMetals {
  text-align: left;
}

button {
  width: 20%;
  background-color: black;
  color: white;
  border: none;
  padding: 1%;
}
.labels {
  float: left;
}
